.createblog-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .action-button {
        display: flex;
        max-width: 240px;
        margin-left: auto;
    }

    img {
        width: 220px;
    }
}