.home-wrapper {
    .btn-create {
        width: 120px;
        margin-left: auto;
    }
    
    .post-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pagination-wrapper {
        display: flex;
        justify-content: center;
        align-self: center;
        margin: auto;
        max-width: 300px;

        .label-page {
            text-align: center;
            width: 300px;
            margin: auto;
            font-size: 20px;
            font-family: sans-serif;
            color: #616161;
        }
    }
}